:disabled{

    border-color: red !important;;
    color: red !important;;
}

.form-control{
    display: inherit;
width: 30%;
    height: calc(2.25rem + 2px);
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

h2{
    border-color: black;
    border-radius: 2.3em;
}



#polo{
width: 100%;
}

#search{
width: 20%;
border-radius: 20px;
}

 table.dashboard tr:hover {
    cursor: pointer;
    background-color: rgba(174, 190, 245, 0.301);
}

table.aule tr:hover{
    cursor: pointer;
    background-color: rgba(174, 190, 245, 0.301);
}

#buttonAggiungiAula{
    width: 20%;
    border-radius: 20px;
}

.form-control{
    display: inline-block;
}



