body{

    text-align: center;
    background-color: #2621124d;
}

*[method="post"] {
   max-width: 530px;
   padding: 15px;
   margin: 0 auto;
   border-radius: 3.3em;
   background-color: #2546d266;
}

*[method="post"] h2 { 
   font-family: 'Open Sans' , sans-serif;
   font-size: 40px;
   font-weight: 600;
   color: #000000;
   margin-top: 5%;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 4px;
}

.form-group{
    width:100%; margin:0 auto;
}


.col-sm-9{
    max-width: 100%;
}

.col-sm-6{
    max-width: 100%;
}

.container{
    margin-top: 20px;
}

.text-muted{
    color: #1f262d !important;
}
